fees.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FEES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fees_details" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="fid"/>
              <xs:element type="xs:string" name="category"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:int" name="price"/>
              <xs:element type="xs:string" name="year"/>
              <xs:element type="xs:string" name="choice" minOccurs="0"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>